.hoverText {
  transition: 0.35s font-weight, 0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: #d1c8e1;
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: #c3c3e6;
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: #9ba2ff;
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}
